<!DOCTYPE html>
<html>
<head>
    <title>Account Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>Welcome, {{ first_name }} {{ last_name }}!</h1>
    <div id="menu">
        <button onclick="showData('my_account')">My Account</button>
        {% if is_admin %}
        <button onclick="showData('accounts')">Accounts</button>
        <button onclick="showData('books')">Books</button>
        <button onclick="showData('checking_log')">Checking Log</button>
        {% endif %}
    </div>

    <div id="data_display" class="section">
        <!-- Data fetched from the server will be displayed here -->
    </div>
</body>
</html>
